*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;;
}

form{
    border: solid blue;
    background-color: #57aaf3;
    width: 550px;
    text-align: center;
}

.first-leg{
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin: 8px 0 10px;
}

.second-leg{
    margin: 0 auto;
    font-size: 15px;
    width: 350px;
    color: white;
}

.input-part{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.left-col, .right-col{
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    
}

.left-col{
    margin: 25px 0 25px 25px;
}

.right-col{
   margin: 25px 25px 25px 0; 
}

.left-col > input{
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    width: 230px;
    height: 60px;
    color: gray;
    font-size: 15px;
}

.right-col > input{
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    width: 230px;
    height: 60px;
    color: gray;
    font-size: 15px;
}

.radio-btn-part{
    display: flex;
    margin: 0 auto;
    border: 1px solid white;
    width: 490px;
}

.radio-btn-part > input{
 height: 15px;
 margin: 15px 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    margin: 10px 0 15px;
    gap: 2px;
}

.content > h3{
    font-weight: 300;
    margin: 0;
}

.content > p{
    font-size: 11px;
    font-weight: 300;
    margin: 0;
}

.radio-btn-part2{
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid white;
    width: 490px;
}

.radio-btn-part2 > input{
 height: 15px;
 margin: 15px 5px 15px 15px;
}

.content-s{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    margin: 10px 0 15px;
    gap: 2px;
}

.content-s > h3{
    font-weight: 300;
    margin: 0;
}

.content-s > p{
    font-size: 11px;
    font-weight: 300;
    margin: 0;
}